.menu-principal, .item-menu-principal {
    margin-top: 5%;
}

.brigadeiro {
    background-color: #E36397;
    transition: 0.3s;
}

.brownie {
    background-color: #BC8DA7;
}

.alfajor {
    background-color: #BDB4BF;
}

.mini-pizza {
    background-color: #D9D9D9;
}

.bolo-pote {
    background-color: #EFF2EF;
}

.lista-comidas a {
    height: 200px;
    text-align: center;
    font-size: 60px;
    
}

.titulo {
    font-size: 80px;
    margin-bottom: 5%;
}

.btn {
    transition: 0.2s all ease;
    padding: 30px 60px;
    border: 1px solid black;
    color: black;
    font-size: 50px;
    display: inline-block;
    width: 100%;
}