<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta charset="utf-8">
    <title>vue-6-single-file-components</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <link rel="stylesheet" href="brigadeiro.css">

</head>

<body>
    <div id="app">
        <ul id="example-1">
            <div class="row-12 busca">
                <ul class="list-group">
                    <li class="list-group-item align-items-center ">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <p>&#128269</p>
                                </div>
                            </div>
                            <input type="text" class="form-control" v-model="inputBusca" aria-label="Text input with checkbox" placeholder="Quem irá te atender hoje?">
                            <p>{{ inputBusca }}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <li v-for="vendedor in filterBy (vendedores, inputBusca, 'nome')">
                <ul class="list-group">
                    <a v-bind:href="'../../pagina-vendedores/'+vendedor.nome+'.html'">
                        <li class="list-group-item d-flex justify-content-between align-items-center vendedor">
                            <div class="texto-vendedor"><b>{{vendedor.nome}}</b> | {{vendedor.items}}</div>
                            <div class="foto-usuario" v-bind:style="{ backgroundImage: 'url(' + vendedor.foto + ')' }">
                                
                            </div>
                        </li>
                    </a>
                </ul>
            </li>
        </ul>
    </div>
    <script src="brigadeiro.js"></script>
</body>

</html>

<!--

    Image: 'url(' + vendedor.foto + ')' 
    <div class="row elemento-vendedor">
                        <div class="foto-usuario col-3">
                                <div  :style="{ backgroundImage: 'foto'}"></div>
                        </div>
                        <div class="col-9 ">
                            
                            <a href="../../pagina-vendedores/{{vendedor.nome}}.html" class="main-vendedor">
                                {{ vendedor.nome }}
                            </a>
                            <div class="row">
                                <div class="col">
                                        <p style="paddingTop: 10%">Vende {{vendedor.items}}</p>
                                </div>
                            </div>
                            
                        </div>  
                    </div>
-->