* {margin: 0; padding: 0;}

li {
    text-align: center;
    padding: 5%;
}
ul {
    list-style: none;
    padding: 0;
}

.foto-usuario {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 1px solid black;
    background-size: cover;
    background-position: center center; 
}

.main-vendedor {
    height: 100%;
}

.lista-main {
    
    padding: 0;
}

.elemento-vendedor {
    border: 2px solid black;
    border-radius: 10%;
}

.vendedor {
    height: 200px;
}

.texto-vendedor {
    font-size: 40px;
}

.vendedor-nome {
    font-size: 45px;
}

.list-group a {
    text-decoration: none;
    color: black;
}

.list-group p {
    font-size: 18px;
}



.btn {
    transition: 0.2s all ease;
    padding: 0px 60px;
    
    color: black;
    font-family: ;
    font-size: 50px;
    display: inline-block;
    width: 100%;
}

.borda {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.btn h3 {
    font: 40px/1.5 Helvetica, Verdana, sans-serif;
    text-align: left;
    margin-left: 30px;
}

.btn h3, .btn p {
    text-align: left;
    margin-left: 30px;
}

.btn .foto-usuario {
    float: left;
}

.btn p {
    font: 200 40px/1.5 Helvetica, Verdana, sans-serif;
    color: #c9c9c9;
}

.div-foto-usuario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Input */

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.imaginary-container {
    width: 500px !important;
}